.link{
  text-decoration: none;
  margin-left: 12px;  
  color: #fff;
  background: linear-gradient(to bottom, #e10606, #660303 100%);
  padding: 5px;
}
.section-one{
  background-image: url(/assets/newyouk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-one-title{
  color: #fff;
  font-weight: 900 !important;
}
.section-one-text{
  color: #ffffff;
  background-color: #00000071;
  border-radius: 5px;
  padding: 12px;
  text-align: justify;
}
.section-two{
  background-color: #ecbd8b;
  color: #fff;
}
.avatar{
  border-radius: 50%;
  height: 50px;
  background-color: #c9f6e8;
  width: 50px;
}